Grid/Config/Config.xsd

<?xml version="1.0" encoding="utf-8"?>

<xs:schema id="Config" targetNamespace="urn:schemas-maxv-com:data-config" elementFormDefault="qualified" xmlns="urn:schemas-maxv-com:data-config" xmlns:a="urn:schemas-maxv-com:data-config" xmlns:mstns="urn:schemas-maxv-com:data-config" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="config" type ="configType"/>

  <xs:complexType name="configType">
    <xs:all maxOccurs="1" minOccurs="1">
    </xs:all>
    <xs:attribute name="hiddenFields" type="xs:string" use="optional"/>
    <xs:attribute name="disableCommands" type="xs:string" use="optional"/>
    
  </xs:complexType>
</xs:schema>
