Grid/Config/Pattern.xsd

<?xml version="1.0" encoding="utf-8"?>

<xs:schema id="Pattern" targetNamespace="urn:schemas-maxv-com:data-pattern" elementFormDefault="qualified" xmlns="urn:schemas-maxv-com:data-pattern" xmlns:a="urn:schemas-maxv-com:data-pattern" xmlns:mstns="urn:schemas-maxv-com:data-pattern" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="config" type ="configType">
    <xs:key name="field">
      <xs:selector xpath="a:fields/a:field" />
      <xs:field xpath="@name"/>
    </xs:key>
  </xs:element>

  <xs:complexType name="configType">
    <xs:all maxOccurs="1" minOccurs="1">
      <xs:element name="fields">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="field" type="fieldType" minOccurs="1" maxOccurs="unbounded"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:all>
  </xs:complexType>

  <xs:complexType name="fieldType">
    <xs:all maxOccurs="1" minOccurs="1">
      <xs:element name="header" type="headerType"  minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>Specifies a default caption displayed in the grid.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="label" type="headerType" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>Specifies a default text label displayed in the corresponding data fields of presentation views.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:all>

    <xs:attribute name="name" type="xs:string" use="required">
      <xs:annotation>
        <xs:documentation>Matches the name of the column in the result set returned by query.</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="align" type="xs:string" use="optional"/>
    <xs:attribute name="width" type="xs:int" use="optional"/>
    <xs:attribute name="dataFormatString" type="xs:string" use="optional"/>
    <xs:attribute name="inactivate" type="xs:boolean" use="optional"/>
    <xs:attribute name="hidden" type="xs:boolean" use="optional">
      <xs:annotation>
        <xs:documentation>Hides the data field from user interface rendered in client browser. Hidden fields can be modified in custom action handlers.</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>

  <xs:complexType name="headerType">
    <xs:attribute name="v" type="xs:string" use="required"/>
    <xs:attribute name="e" type="xs:string" use="required"/>
  </xs:complexType>

</xs:schema>
